*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/.terraform/

node_modules/
*.zip
tfplan.out
plan.tfout
